@font-face {
    font-family: 'Roboto-Black';
    src: url("../Roboto/Roboto-Black.ttf");
}

.Roboto-Black{
    font-family: 'Roboto-Black', serif;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../Roboto/Roboto-Bold.ttf");
}

.Roboto-Bold{
    font-family: 'Roboto-Bold', serif;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url("../Roboto/Roboto-Italic.ttf");
}

.Roboto-Italic{
    font-family: 'Roboto-Italic', serif;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("../Roboto/Roboto-Light.ttf");
}

.Roboto-Light{
    font-family: 'Roboto-Light', serif;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("../Roboto/Roboto-Medium.ttf");
}

.Roboto-Medium{
    font-family: 'Roboto-Medium', serif;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../Roboto/Roboto-Regular.ttf");
}

.Roboto-Regular{
    font-family: 'Roboto-Regular', serif;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url("../Roboto/Roboto-Thin.ttf");
}

.Roboto-Thin{
    font-family: 'Roboto-Thin', serif;
}